<p>
    Search My Recipes:
    <input ng-model="query"/>
</p>
<p>
	Sort by:
	<select ng-model="orderProp">
		<option value="name">Alphabetical</option>
		<option value="ingredients.length">Number of Ingredients</option>
	</select>
</p>

<div class="recipes">
	<ul>
		<li ng-repeat="recipe in filteredRecipes = (recipes | filter:query) | orderBy:orderProp"
			ng-click="gotoRecipe()" >
		 <a href="#!/recipes/{{recipe.id}}" class="thumb">
<!--             <img ng-src="{{recipe.imageUrl}}" alt="{{recipe.name}}" />
 -->          </a>
          <a href="#!/recipes/{{recipe.id}}">{{recipe.name}}</a>
		</li>
	</ul>
	<p ng-hide="filteredRecipes.length">No recipes for that yet!</p>
</div>
<button class="btn btn-primary" ng-click="openNewForm()" ng-hide="newFormOpen" >New Recipe</a></button>

<div ng-show="newFormOpen">
    <form>
        <div class="form-group">
            <label>Name:</label>
            <input type="text" class="form-control" ng-model="recipe.name" name="name" focus-me="newFormOpen"/>
        </div>
        <div class="form-group">
            <label>Description:</label>
            <input type="text" class="form-control" ng-model="recipe.description" name="description" />
        </div>
        <div class="form-group">
            <label>Link to recipe page:</label>
            <input type="text" class="form-control" ng-model="recipe.url" name="url" />
        </div>
        <button class="btn btn-primary" ng-click="openIngredientForm(); closeNewForm()">Next</a></button>    
        <button class="btn btn-danger" ng-click="closeNewForm()">Cancel</a></button>
    </form>
</div>

<div ng-show="ingredientFormOpen" close="closeIngredientForm()">
	<form ng-submit="submit()">
    	Enter text and hit enter:
    	<input type="text" ng-model="text" name="text" placeholder="e.g. garlic" focus-me="ingredientFormOpen">
        <pre>list={{list}}</pre>
        <ul>
            <li ng-repeat="entry in list">
                {{entry}}
                <button type="button" ng-click="undoIngredient(entry)">Remove</button>
            </li>
        </ul>  
    </form>
	<button class="btn btn-primary" ng-click="appendIngredients(); saveRecipe(); closeIngredientForm()">Create recipe</button>
    <button class="btn btn-primary" ng-click="closeIngredientForm(); openNewForm();">Back</button>
	<button class="btn btn-danger" ng-click="closeIngredientForm()">Cancel</a></button> 
</div>
